html, body {
height: 100%;
}
body{
background-color:rgb(245, 248, 250);
font-family:
Arial,sans-serif;
}
.button-three{
  text-align: center;
  cursor: pointer;
  font-size:20px;
  margin: 0 0 0 100px;
}
.txt{
background-color:rgb(245, 248, 250);
color:rgb(29, 161, 242);
border:0px;
border-bottom:2px solid rgb(29, 161, 242);
transition:border-bottom 1s;
}
.txt:hover{
border-bottom:2px solid white;
}
.button-three {
    color:black;
    position: relative;
    background-color: rgb(29, 161, 242);
    border: none;
    padding: 10px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.button-three:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 300%;
    margin-left: -10px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
table
{background-color:white;border-collapse: collapse;border-spacing: 0;width:101.4%;margin-left:-10px;margin-top:-6px;}tr{color: rgb(20, 23, 26);display: flex;font-family: Arial,sans-serif;font-size: 18px;justify-content: space-between;line-height: 18px;}td{font-family: Arial,sans-serif;font-size: 18px;align-items: center;border-bottom: rgb(29, 161, 242) solid 8px;color: rgb(27, 149, 224);display: flex;flex-basis: auto;flex-grow: 1;flex-shrink: 1;font-size: 14px;height: 59px;justify-content: center;line-height: 18px;padding-bottom: 5px;padding-left: 0px;padding-right: 0px;padding-top: 5px;text-decoration: none;text-decoration-color: rgb(27, 149, 224);text-decoration-line: none;text-decoration-style: solid;transition: border-bottom-color 0.5s ease-out;-webkit-transition: border-bottom-color 0.5s ease-out;}td:hover{border-bottom-color:#FF4C00;color:#FF4C00;}td:hover a{color:#FF4C00;}a{color:rgb(27, 149, 224);text-decoration: none;text-decoration-color: rgb(27, 149, 224);text-decoration-line: none;text-decoration-style: solid;}.box h4{position:relative;text-align: left;left: 14px;top: 10px;}.box h4 span{font-size: 12px;color: #545758;}.box {width: 100%;min-height: 102px;background: #FFF;margin: 8px 20px;}footer{color:white;font-size:22px;padding:15px;background-color: black;text-align: center;}.container{min-height: 100%;margin-bottom: -100px;}.container:after {content: "";display: block;}footer, .container:after {height: 100px;}
/*==================================================* Effect 1* ===============================================*/
.effect1{position: relative;}
.effect1:before, .effect1:after{
z-index: -1;
position: absolute;content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width:300px;
background: #777;
-webkit-box-shadow: 0 15px 10px #777;
-moz-box-shadow: 0 15px 10px #777;
box-shadow: 0 15px 10px #777;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);}
.effect1:after{
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}