
#wb_header { background: transparent none repeat scroll left top; height: 198px; }
#wb_main { background: transparent none repeat scroll left top; height: 540px; padding-bottom: 100px; }
#wb_footer { background: transparent none repeat scroll center bottom; height: 305px; }
body { background: #e5eeef url("../gallery_gen/06924651e359592af9bfb2463635d2a1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1043px; }
.root { width: 992px; height: 1043px; overflow: visible; min-height: 1043px; }
#wb_element_instance0 { left: 0px; top: 10px; min-width: 940px; width: 940px; min-height: 110px; height: 110px; display: block; z-index: 81; }
#wb_element_instance0 ul { background: transparent none repeat scroll center top; border: 2px none #3487ed; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll center top; }
#wb_element_instance0 li { margin: 10px 10px 10px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance1 { left: 0px; top: 30px; min-width: 990px; width: 990px; min-height: 17px; height: 17px; display: block; z-index: 67; }
#wb_element_instance2 { left: 10px; top: 340px; min-width: 980px; width: 980px; min-height: 36px; height: 36px; display: block; z-index: 64; }
#wb_element_instance3 { left: 0px; top: 220px; min-width: 990px; width: 990px; min-height: 220px; height: 220px; display: block; z-index: 67; }
#wb_element_instance4 { left: 430px; top: 270px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 68; }
#wb_element_instance5 { left: 380px; top: 20px; min-width: 590px; width: 590px; min-height: 188px; height: 188px; display: block; z-index: 39; }
#wb_element_instance6 { left: 0px; top: 460px; display: block; z-index: 9000; }
#wb_element_instance7 { left: 0px; top: 228px; display: block; z-index: 9999; }


#wb_element_instance1 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #00a9e1;; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance3 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #00a9e1;; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
