form{
	border:1px solid none;
	border-radius:20px 20px 15px 0px;
	width:80%;
	background-color: #f5f8fa;
	font-family:arial;
	color:rgb(29, 161, 242);
	padding:20px;
	}
#text{
	border:0px;
	border-bottom:1px solid rgb(29, 161, 242);
	transition: border-bottom 0.5s;
	}
#text:hover{
	border-bottom:1px solid white;
}

